<div class="buttoncontainer">
  <div class="buttonposition">
    <a href="/leases/new-customer"><button type="button" name="button" class="quickbutton">ADD CUSTOMER</button></a>
  </div>
  <div class="buttonposition">
    <a href="/leases/new-lease"><button type="button" name="button" class="quickbutton">NEW LEASE</button></a>
  </div>
</div>

<div class="container-data">
  <h2>Current Leases</h2>

  <div class="summary-table">
    <table>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Surname</th>
          <th>Number</th>
          <th>Email</th>
          <th>Type</th>
          <th>Size</th>
          <th>Cost</th>
          <th>Number Leased</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        <% @current_leases.each do |lease| %>
        <tr>
          <td><%= lease.first_name %></td>
          <td><%= lease.surname %></td>
          <td><%= lease.contact_number %></td>
          <td><%= lease.contact_email %></td>
          <td><%= lease.type %></td>
          <td><%= lease.size %></td>
          <td><%= lease.cost %></td>
          <td><%= lease.number_leased %></td>
          <td><%= lease.start_date %></td>
          <td><%= lease.end_date %></td>
          <td>
            <form onsubmit="return confirm('Press OK to End Lease.')" action="/leases/all-leases/<%=lease.id%>/end" method="POST">
            <input type="submit" value="End Lease" name="button" class="table-btn">
          </form>
        </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
    <h2>Ended Leases</h2>
  <div class="lease-log">
    <table class="lease-log-table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Surname</th>
          <th>Number</th>
          <th>Email</th>
          <th>Type</th>
          <th>Size</th>
          <th>Cost</th>
          <th>Number Leased</th>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>
      </thead>
      <tbody>

        <% @lease_log.each do |leaselog| %>
        <tr>
          <td><%= leaselog.first_name %></td>
          <td><%= leaselog.surname %></td>
          <td><%= leaselog.contact_number %></td>
          <td><%= leaselog.contact_email %></td>
          <td><%= leaselog.type %></td>
          <td><%= leaselog.size %></td>
          <td><%= leaselog.cost %></td>
          <td><%= leaselog.number_leased %></td>
          <td><%= leaselog.start_date %></td>
          <td><%= leaselog.end_date %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <h3><i class="arrow up"></i> <a href="#top">Top</a></h3>

  </div>
</div>
