<div class="container-data">

<div class="">
  <h2>Customer: <%= @customer.format_name %></h2>
</div>
  <h2>Current Leases</h2>

  <div class="summary-table">
    <table>
      <thead>
        <tr>
          <th>Type</th>
          <th>Size</th>
          <th>Cost</th>
          <th>Number Leased</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        <% @customer_leases.each do |lease| %>
        <tr>
          <td><%= lease.type %></td>
          <td><%= lease.size %></td>
          <td><%= lease.cost %></td>
          <td><%= lease.number_leased %></td>
          <td><%= lease.start_date %></td>
          <td><%= lease.end_date %></td>
          <td>
            <form action="/leases/all-customers/<%=lease.id%>/<%=@customer.id%>" method="POST">
              <input type="submit" value="End Lease" name="button" class="table-btn">
            </form>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <h3><i class="arrow left"></i> <a href="/leases/all-customers">Back</a></h3>

</div>
