<div class="buttoncontainer">
  <div class="buttonposition">
    <a href="/leases/new-customer"><button type="button" name="button" class="quickbutton">ADD CUSTOMER</button></a>
  </div>
  <div class="buttonposition">
    <a href="/leases/new-lease"><button type="button" name="button" class="quickbutton">NEW LEASE</button></a>
  </div>
</div>


<div class="container-data">
  <h2>Summary of Current Leases</h2>

  <table class="summary-table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Surname</th>
        <th>Number</th>
        <th>Email</th>
        <th>Type</th>
        <th>Size</th>
        <th>Cost</th>
        <th>Number Leased</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

      <% @current_leases.each do |lease| %>
      <tr>
        <td><%= lease.first_name %></td>
        <td><%= lease.surname %></td>
        <td><%= lease.contact_number %></td>
        <td><%= lease.contact_email %></td>
        <td><%= lease.type %></td>
        <td><%= lease.size %></td>
        <td><%= lease.cost %></td>
        <td><%= lease.number_leased %></td>
        <td><%= lease.start_date %></td>
        <td><%= lease.end_date %></td>
        <td>
          <form onsubmit="return confirm('Press OK to End Lease.')" action="/leases/all-leases/<%=lease.id%>/end" method="POST">
            <input type="submit" name="button" value="End Lease" class="table-btn">
        </form>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <h3><i class="arrow up"></i> <a href="#top">Top</a></h3>

</div>
