
<div class="buttoncontainer">
  <a href="/leases/new-equipment"><button type="button" name="button" class="quickbutton2">Add Equipment To Stock</button></a>
</div>

<div class="container-data">
  <h2>All Equipment in Stock</h2>
  <table>
    <thead>
      <tr>
        <th>Item Type</th>
        <th>Size</th>
        <th>Stock Quantity</th>
        <th>Hire Cost</th>
        <th>Deposit Cost</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for equipment in @all_equipment do %>
      <tr>
        <td><%= equipment.type%></td>
        <td><%= equipment.size%></td>
        <td><%= equipment.total_quantity%></td>
        <td>£<%= equipment.cost%>.00</td>
        <td>£<%= equipment.cost.to_i / 10.0 %>0</td>
        <td>
          <a href="/leases/all-equipment/<%=equipment.id%>/edit">
            <button type="button" name="button" class="table-btn">
            Edit
          </button>
          </a>
        </td>
        <td>
          <form onsubmit="return confirm('Are you sure you want to Delete?')" action="/leases/all-equipment/<%=equipment.id%>/delete" method="POST">
            <input type="submit" value="Delete" name="button" class="table-btn">
          </form>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <h3><i class="arrow up"></i> <a href="#top">Top</a></h3>

</div>
