<h3>All Equipment</h3>
<div class="">
  <a href="/leases/new-equipment">Add Equipment To Stock</a>

</div>

<div class="">

  <table>
    <thead>
      <tr>
        <th>Item Type</th>
        <th>Size</th>
        <th>Stock Quantity</th>
        <th>Hire Cost</th>
        <th>Deposit Cost</th>
      </tr>
    </thead>
    <tbody>
      <% for equipment in @all_equipment do %>
      <tr>
        <td><%= equipment.type%></td>
        <td><%= equipment.size%></td>
        <td><%= equipment.total_quantity%></td>
        <td>£<%= equipment.cost%>.00</td>
        <td>£<%= equipment.cost.to_i / 10.0 %>0</td>
        <td><a href="/leases/all-equipment/<%=equipment.id%>/edit">Edit Item</a></td>
        <td><form action="/leases/all-equipment/<%=equipment.id%>/delete" method="POST"><input type="submit" value="Delete"></form></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
