
<div class="">
  <a href="/leases/new-equipment"><button type="button" name="button">Add Equipment To Stock</button></a>

</div>
<div class="">
  <h3>All Equipment</h3>
</div>
<div class="container-data">

  <table>
    <thead>
      <tr>
        <th>Item Type</th>
        <th>Size</th>
        <th>Stock Quantity</th>
        <th>Hire Cost</th>
        <th>Deposit Cost</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for equipment in @all_equipment do %>
      <tr>
        <td><%= equipment.type%></td>
        <td><%= equipment.size%></td>
        <td><%= equipment.total_quantity%></td>
        <td>£<%= equipment.cost%>.00</td>
        <td>£<%= equipment.cost.to_i / 10.0 %>0</td>
        <td>
          <button type="button" name="button" class="table-btn">
          <a href="/leases/all-equipment/<%=equipment.id%>/edit">Edit</a>
          </button>
        </td>
        <td>
          <form action="/leases/all-equipment/<%=equipment.id%>/delete" method="POST">
            <input type="submit" value="Delete" name="button" class="table-btn">
          </form>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
