<div class="container-data">
  <h2>Create New Lease</h2>
  <form class="" action="/leases" method="post">
    <table class="new-lease">
      <tbody>
        <tr>
          <td class="table-emphasis-text"><label for="customer-id">Customer: </label></td>
          <td>
            <select class="" name="customer_id" id="customer-id">
              <% for customer in @customers do %>
              <option value="<%= customer.id %>"><%= customer.format_name %></option>
              <% end %>
            </select>
          </td>
        </tr>
        <tr>
          <td class="table-emphasis-text"><label for="equipment-id">Equipment: </label></td>
          <td>
            <div class="">

              <% index = 0 %>
              <% for type in @types %>
              <p class="table-emphasis-text"><%= type.type.capitalize %> </p>
              <% for size in @sizes[index] %>
              <input type="radio" id="equipment-id<%=size.id%>" name="equipment_id_<%= index %>" value="<%= size.id %>">
              <label for="equipment-id<%=size.id%>"><%= size.size %></label>
              <% end %>
              <% index += 1 %>
              <% end %>

            </div>
          </td>
        </tr>
        <tr>
          <td class="table-emphasis-text"><label for="start-date">Start Date: </label></td>
          <td><input type="date" name="start_date" id="start-date" value="<%=Date::today%>" min=<%=Date::today%>></td>
        </tr>
        <tr>
          <td class="table-emphasis-text"><label for="end-date">End Date: </label></td>
          <td><input type="date" name="end_date" id="end-date" value="<%=Date::today + 7%>" min=<%=Date::today%>></td>
        </tr>
        <tr>
          <td class="table-emphasis-text"><label for="number-leased">Number Requested: </label></td>
          <td><input class="number-input" type="number" name="number_leased" id="number-leased" value="1" min=1></td>
        </tr>
      </tbody>
    </table>
    <div class="buttoncontainer2">
      <div class="buttonposition">
        <input type="submit" name="" value="Create Lease" class="quickbutton">
      </div>
    </div>
    <h3><i class="arrow left"></i> <a href="/leases">Back</a></h3>

  </form>
</div>
